*{
    box-sizing: border-box;
}
.container{
    width: 366px;
    height: 420px;
    background-color: #faf4ef;
    margin-left: 537px;
    margin-top: 285px;
    border-radius: 0px 0px 0px 50px;
    
}

span{
    color: #4b4b4b;
    margin-left: 35px;
    font-style: normal;
    font-size: 36px;
    font-weight: 400px;
    line-height: 100%;

    
    
}
p{
    color: #737373;
    margin-left: 35px;
    font-style: normal;
    font-size: 24px;
    font-weight: 400px;
    line-height: 100%;

    
}
img{
    
    margin-left: 55px;
    width: 231px;
    height: 285px;
    margin-top: 30px;
}
